<h1><b><center>IS652 - Data Exploration and Visualization </center></b></h1>

<h2><b><center> Assignment 2 (Northwind Data Exploration and Visualization) </center></b></h2>
<h3><b><center> FAISAL RIAZ      [f2019313020@umt.edu.pk]</center></b></h3>

## Importing Required Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import warnings
warnings.filterwarnings('ignore')  # "error", "ignore", "always", "default", "module" or "once"
%matplotlib inline

In [2]:
pd.set_option("display.max_columns",20)
pd.set_option("display.precision",2)

In [3]:
path=r'D:\UMT_MSDS\Semester4\Assignment2'
os.chdir(path)

In [55]:
#Import Excel File usng pandas and make separate dataframes for required only tables from each tab

with pd.ExcelFile('northwind.xls') as xls:
    df_Categories = xls.parse('Categories',usecols=['CategoryID','CategoryName'])
    df_Employee = xls.parse('Employees',usecols=['EmployeeID','LastName','FirstName'])
    df_OrderDetails = xls.parse('Orders Details')
    df_Orders = xls.parse('Orders',usecols=['OrderID','CustomerID','EmployeeID','OrderDate','ShipCountry','ShipVia'],parse_dates=True)
    df_Product = xls.parse('Product',usecols=['ProductID','ProductName','CategoryID','SupplierID'])
    df_Customer = xls.parse('Customers',usecols=['CustomerID','CompanyName','Country'])
    df_Shipper = xls.parse('Shippers',usecols=['ShipperID','ShipperName'])
    df_Suppliers = xls.parse('Suppliers',usecols=['SupplierID','CompanyName'])

In [56]:
# Concatinating First Name and Last Name to Create new column/attribute EmployeeName and dropping others.
df_Employee['EmployeeName']=df_Employee['FirstName'].str.cat(df_Employee['LastName'],sep=" ")
df_Employee.drop(['FirstName','LastName'],axis=1,inplace=True)
df_Customer.rename(columns={'CompanyName':'CustomerCompany','Country':'CustomerCountry'},inplace=True)

In [57]:
df_Customer

   CustomerID                     CustomerCompany CustomerCountry
0       ALFKI                 Alfreds Futterkiste         Germany
1       ANATR  Ana Trujillo Emparedados y helados          Mexico
2       ANTON             Antonio Moreno Taquería          Mexico
3       AROUT                     Around the Horn              UK
4       BERGS                  Berglunds snabbköp          Sweden
..        ...                                 ...             ...
86      WARTH                      Wartian Herkku         Finland
87      WELLI              Wellington Importadora          Brazil
88      WHITC                White Clover Markets             USA
89      WILMK                         Wilman Kala         Finland
90      WOLZA                      Wolski  Zajazd          Poland

[91 rows x 3 columns]

## Creating one main dataframe to answer all questions

In [58]:
df=pd.merge(df_Orders,df_Employee,how='left',left_on='EmployeeID',right_on='EmployeeID')
df_Emp_Order=pd.merge(df,df_OrderDetails,how='left',left_on='OrderID',right_on='OrderID')
df_Emp_Order['OrderYear'] = pd.DatetimeIndex(df_Emp_Order['OrderDate']).year
df_Emp_Order['OrderMonth'] = pd.DatetimeIndex(df_Emp_Order['OrderDate']).month

In [50]:
df_Emp_Order_Ship = pd.merge(df_Emp_Order,df_Shipper,how='left',left_on='ShipVia',right_on='ShipperID')
df_EMP_Order_Ship_Cust = pd.merge(df_Emp_Order_Ship,df_Customer,how='left',left_on='CustomerID',right_on='CustomerID')
df_EMP_Order_Ship_Cust.columns

Index(['OrderID', 'CustomerID', 'EmployeeID', 'OrderDate', 'ShipVia',
       'ShipCountry', 'EmployeeName', 'ProductID', 'UnitPrice', 'Quantity',
       'Discount', 'OrderYear', 'OrderMonth', 'ShipperID', 'ShipperName',
       'CustomerCompany', 'CustomerCountry'],
      dtype='object')

In [59]:
df_EMP_Order_Ship_Cust.head()

,OrderID,CustomerID,EmployeeID,OrderDate,ShipVia,ShipCountry,EmployeeName,ProductID,UnitPrice,Quantity,Discount,OrderYear,OrderMonth,ShipperID,ShipperName,CustomerCompany,CustomerCountry
0,10248,WILMK,5,1996-07-04,3,France,Steven Buchanan,11,14.0,12,0.0,1996,7,3,Federal Shipping,Wilman Kala,Finland
1,10248,WILMK,5,1996-07-04,3,France,Steven Buchanan,42,9.8,10,0.0,1996,7,3,Federal Shipping,Wilman Kala,Finland
2,10248,WILMK,5,1996-07-04,3,France,Steven Buchanan,72,34.8,5,0.0,1996,7,3,Federal Shipping,Wilman Kala,Finland
3,10249,TRADH,6,1996-07-05,1,Germany,Michael Suyama,14,18.6,9,0.0,1996,7,1,Speedy Express,Tradição Hipermercados,Brazil
4,10249,TRADH,6,1996-07-05,1,Germany,Michael Suyama,51,42.4,40,0.0,1996,7,1,Speedy Express,Tradição Hipermercados,Brazil

In [60]:
df_EMP_Order_Ship_Cust.sort_values(['OrderDate','OrderYear','OrderMonth'],ascending=[True,True,True])
df_EMP_Order_Ship_Cust.to_csv('./Table_EODSC.csv',index=False)

In [61]:
df_Product_Supplier = pd.merge(df_Product,df_Suppliers,how='left',left_on='SupplierID',right_on='SupplierID')
df_Prod_Suplr_Cat = pd.merge(df_Product_Supplier,df_Categories,how='left',left_on='CategoryID',right_on='CategoryID')
df_Prod_Suplr_Cat.head()

,ProductID,ProductName,SupplierID,CategoryID,CompanyName,CategoryName
0,1,Chai,1,1,Exotic Liquids,Beverages
1,2,Chang,1,1,Exotic Liquids,Beverages
2,3,Aniseed Syrup,1,2,Exotic Liquids,Condiments
3,4,Chef Anton's Cajun Seasoning,2,2,New Orleans Cajun Delights,Condiments
4,5,Chef Anton's Gumbo Mix,2,2,New Orleans Cajun Delights,Condiments

In [53]:
df_Prod_Suplr_Cat.to_csv('./Table_PSC.csv',index=False)

In [63]:
df_EMP_Order_Ship_Cust.columns

Index(['OrderID', 'CustomerID', 'EmployeeID', 'OrderDate', 'ShipVia',
       'ShipCountry', 'EmployeeName', 'ProductID', 'UnitPrice', 'Quantity',
       'Discount', 'OrderYear', 'OrderMonth', 'ShipperID', 'ShipperName',
       'CustomerCompany', 'CustomerCountry'],
      dtype='object')

# rolling Difference

In [ ]:
x = pd.DataFrame({
    'x_1': [0, 1, 2, 3, 0, 1, 2, 500, ],},
    index=[0, 1, 2, 3, 4, 5, 6, 7])

x['x_1'].rolling(window=2).apply(lambda x: x.iloc[1] - x.iloc[0])

In [ ]:
df_Customer.columns

In [ ]:
# Merging Orders and Order details on key = OrderID
df = pd.merge(df_Orders,df_OrderDetails,how='left',left_on=['OrderID'],right_on=['OrderID'])
# Merging Product on key = ProductID
df = pd.merge(df,df_Product,how='left',left_on=['ProductID'],right_on=['ProductID'])
# Merging Categories on key = CategoryID
df = pd.merge(df,df_Categories,how='left',left_on=['CategoryID'],right_on=['CategoryID'])
# Merging Employee  on key = Employee ID
df = pd.merge(df,df_Employee,how='left',left_on=['EmployeeID'],right_on=['EmployeeID'])
# dropping redundant columns
df.drop(['EmployeeID','CategoryID','ProductID'],axis=1,inplace=True)
# Extracting month from order date
df['OrderMonth'] = pd.DatetimeIndex(df['OrderDate']).month
# Caluctating the sale for each orderID
df['Sale']=df['UnitPrice']* df['Quantity'] 
# Calculating actual sale after discount
df['ActualSale']=df['Sale'] - (df['Sale']*df['Discount']) 
# Calculating actual discount on sale
df['ActualDiscount']=(df['Sale'])*(df['Discount'])
df.head(10)

In [ ]:
# missing values confirmation
df.isna().sum()

## Question no 01:
### 1. Sales per Category: Result in Table and Pie Chart.

### Filtered DataFrame for all the months in Year 1997.

In [ ]:
# filtered dataframe for year 1997
df_1997 = df[(df['OrderDate']>='1997-01-01') & (df['OrderDate']<= '1997-12-31')]

In [ ]:
df_q1 = df[['CategoryName','ActualSale']]
df_q1=df_q1.groupby(['CategoryName']).sum()
df_q1

In [ ]:
# Pie plot using pandas, percentage of sales per category
df_q1.plot.pie(y='ActualSale', figsize=(14, 10),colormap = 'tab10', autopct='%1.2f%%',fontsize=18,startangle=160)
plt.title('Sales per Category',fontsize=24)
plt.legend(loc= 'upper right')
plt.tight_layout()
plt.show()

## Question no. 02
### 2. Sales per customer country and category: Result in Table and Clustered horizontal bar chart. Line plot on secondary Y-axis with total sales per country of all categories.

In [ ]:
# Selecting Sales per customer country per category from main dataframe
Sales_per_country_category = df[['ShipCountry','CategoryName','ActualSale']]
Sales_per_country_category.head(10)

In [ ]:
# Sales per country per category
df_q2=pd.pivot_table(df, values='ActualSale',index=['ShipCountry'],columns='CategoryName')
df_q2.replace(np.nan, 0)

In [ ]:
# Sales per category per country with total sales per country on secondary axis
plt.style.use('fivethirtyeight')
ax=df_q2.plot(kind='bar',figsize=(14,10),fontsize=18)
Sales_per_country_category.groupby(['ShipCountry']).sum().plot(kind='line',secondary_y=True,rot =90, ax = ax)
plt.title('Sales per Customer Country per Category Clustered with total sales per country')
plt.xlabel('Customer Country')
plt.ylabel('Total Sales per Country')
ax.set_ylabel('Sales per category per Country')
plt.legend(loc='best')
plt.tight_layout()
plt.show()

## Question no. 03
### 3.  Sales per Category in each month of year 1997. Result in Table and Staked bar chart.

In [ ]:
# Sales per category in each month of 1997 using filtered dataframe
df_q3=pd.pivot_table(df_1997, values='ActualSale',index=['OrderMonth'],columns='CategoryName')
df_q3.head(12)

In [ ]:
# sales per category in each month of 1997 stacked for each category
df_q3.plot(kind='bar',figsize=(14,10),fontsize=18,stacked=True , colormap ='tab10')
plt.title('Sales per Category in each month of 1997',fontsize=24)
plt.xlabel('Month',fontsize=24)
plt.ylabel('Monthly Sales per category',fontsize=24)
plt.legend(loc='best')
plt.tight_layout()
plt.show()

## Question no. 04
### 4.  Discounts per Category in each month of year 1997. Result in Table and Area Chart.

In [ ]:
# Discount per category in each month of 1997 using filtered dataframe
df_q4=pd.pivot_table(df_1997, values='ActualDiscount',index=['OrderMonth'],columns='CategoryName')
df_q4.head(12)

In [ ]:
df_q4.plot(kind='area',figsize=(14,10),fontsize=18,colormap='tab10')
plt.title('Discount per Category in each month of 1997',fontsize=24)
plt.xlabel('Month',fontsize=24)
plt.ylabel('Monthly Discount per category',fontsize=24)
plt.xticks(ticks=[1,2,3,4,5,6,7,8,9,10,11,12])
plt.legend(loc='upper right')
plt.tight_layout()
plt.show()

## Question no. 05
### 5. Sales per Employee in each month of year 1997. Result in Scatter plot.

In [ ]:
df_q5=pd.pivot_table(df_1997, values='ActualSale',index=['OrderMonth'],columns='EmployeeName')
df_q5.replace(np.nan, 0)

In [ ]:
#sale per employee in each month of 1997
df_q5.plot(style="o", figsize=(14,10),ms=15, alpha=0.7,colormap = 'tab10',fontsize=18)
plt.title('Sales per Employee in each month of 1997',fontsize=24)
plt.xlabel('Month',fontsize=24)
plt.ylabel('Monthly Sales per Employee',fontsize=24)
plt.legend(loc='best')
plt.xticks(ticks=[1,2,3,4,5,6,7,8,9,10,11,12])
plt.yticks(ticks=list(range(0,2400,200)))
plt.legend(loc='upper right')
plt.tight_layout()
plt.show()